**/*.elf
**/*.hex
**/*.hxl
**/*.o
**/*.s
**/*.sdb
**/*.sym
**/*.lst
**/*.rlf
**/*.i
**/build
**/debug
**/dist
**/*.inx
**/.history
**/nbproject
**/*.log
**/*.inx
**/*.xml
**/*.yml
**/*.mc3
**/*.cmf
**/.vscode
**/*.lck
**/*.p1
**/*.kicad_prl
**/*.d
**/*.p1
**/*-backups
**/*.zip
